* {
  box-sizing: border-box;
}

/*COLOR PALETTE - RGBA */
/*Dark: 48, 41, 46
Player 1/Red: 168, 58, 71
Main: 72, 153, 168
Player 2/White: 247, 247, 247*/

/*WHOLE PAGE*/
body {
  background-color: rgba(72, 153, 168, 1);
  margin: 0;
}
.wrapper {
  margin: 60px;
}

h1 {
  font-family: "Lato", sans-serif;
  color: rgba(247, 247, 247, 1);
}

h2 {
  font-family: "Lato", sans-serif;
  color: rgba(168, 58, 71, 1);
}

h3 {
  font-family: "Lato", sans-serif;
  color: rgba(247, 247, 247, 0.9);
}

p {
  font-family: "Lato", sans-serif;
  color: rgba(247, 247, 247, 0.8);
}

a {
  text-decoration: none;
  color: rgba(247, 247, 247, 0.8);
}

.tokenX {
  font-family: "Sanchez", serif;
  color: rgba(168, 58, 71, 1);
  font-size: 1600%;
}

.tokenO {
  font-family: "Sanchez", sans-serif;
  color: rgba(247, 247, 247, 0.9);
  font-size:  900%;
}

/*TOP*/
.header {
  height: 160px;
  width: 100%;
  background-color: rgba(48, 41, 46, 1);
  background-image: url("images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
  display: block;
  top: -20;
  left: 0;
  text-align: center;
}

/*MAIN AKA GAMEBOARD*/
.gameboard {
  height:80vh;
  width: 80vw;
  position: relative;
  top: 60px;
  margin: 0 auto;
  background-color: rgba(48, 41, 46, 1);
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  background-position: 70% 70%;
  text-align: center;
  padding: 8px 8px 8px 8px;
}

.column {
  width: 33%;
  height: 80vh;
  display: inline-block;
  float: left;
}

.square {
  width: 100%;
  height: 32.5%;
  border: rgba(247, 247, 247, 0.8) 4px solid;
  margin: 0;
  display: inline-block;
  float:left;
}

.token {
  width: 100%;
  height: 50%;
  padding: 10% 0;
  display: inline-block;
  float: left;
}

button {
  width: 25vw;
  height: 5vh;
  background-color: rgba(247, 247, 247, 1);
  border-style: none;;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  position: relative;
  top: 90px;
  left: 34.5%;
  text-decoration: none;
}

button:hover {
  color: rgba(247, 247, 247, 1);
  background-color: rgba(168, 58, 71, 1);
}

/*BOTTOM DIV*/
/*.bottom-div {
  width: 80vw;
  border: 1px solid white;
  position: relative;
  top: 100px;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 100px;
}

.instructions {
  width: 75%;
  height: 100%;
  display: inline-block;;
  float: left;
  background-color: rgba(48, 41, 46, 0.9);
  padding: 5%;
}

.players {
  width: 25%;
  height: 100%;
  display: inline-block;
  float: left;
  background-color: rgba(48, 41, 46, 0.5);
  text-align: center;
  overflow: auto;
}

.turn {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  display: block;
}

.x {
  width: 100%;
  height: auto;
  margin: 55% 0 0 0;
  display: block;
}

.o {
  width: 100%;
  height: auto;
  display: block;
}*/

footer {
  width: 100%;
  height: 80px;
  background-color: rgba(48, 41, 46, 1);
  text-align: center;
  margin-top: 160px;
  padding-top: 10px;
}
